
    </div> <!-- Ends the body div that holds all of the pages content -->    
        <footer id="myFooter">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-4">
                            <h3 class="logo"><a href="/home"> RCC SYMPHONY </a></h3>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">
                            <h5><a href="/home">Home</a></h5>
                        </div>
                        <div class="col-lg-1">
                            <h5><a href="/calendar">Calendar</a></h5>
                        </div>
                        <div class="col-lg-1">
                            <h5><a href="/faculty">Faculty</a></h5>
                        </div>
                        <div class="col-lg-1">
                            <h5><a href="/parts">Parts</a></h5>
                        </div>
                        <div class="col-lg-1">
                            <h5><a href="/rehearsal">Rehersal</a></h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>Media</h5>
                            <ul>
                                <li><a href="/media/video">Videos</a></li>
                                <li><a href="/media/past">Past Programs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--<div class="footer-copyright">-->
                <!--    <p>© 2016 Copyright Text </p>-->
                <!--</div>-->
                <div id='closing-note'>
                    <center><a id='closing-text' href="home">&nbsp;RCCSymphony.com&nbsp;</a></center>
                </div>
        </footer>
        
        
    </div>
    <script src="particles.js"></script>
    <!-- popper js (required for a lot of bootstrap js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <!-- jquery js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- boostrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <!-- Main.js -->
    <script src="/javascript/main.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAf2IFV-7EIN047RzhPrRcI7hmM3lpXQQ4&callback=initMap">
    </script>
</body>
</html>