<% include ./partials/header %>

<div class="container-fluid" id="dflt-container"> 
    <div id="dflt-inner">
        <p id="dflt-heading">404 ERROR.</p>
        <p>Uh oh, looks like something went wrong... Did you break it? ...
            <br> It was YOU, wasn't it? <i class="fa fa-frown-o"></i>
        </p>
    </div>
</div>
<% include ./partials/footer %>