<% include ../partials/header %>

<div class="container-fluid" id="dflt-container"> 
    <div id="dflt-inner">
        <p id="dflt-heading">Under Construction.</p>
        <p>We are building this page!<br />It will be coming soon!</p>
    </div>
</div>
<% include ../partials/footer %>